<style>
  <!-- style if necessary -->
</style>

<p>Name: <%= @customer_details.first_name %> <%= @customer_details.last_name %></p>

<p>Email: <%= @customer_details.email %></p>

<p>Budget: <span><%= @customer_details.budget %></span></p>

<p>Commennts: <%= @customer_details.comments %></p>



