<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://static.propertylogic.net/properties/8/968/1887/1516888/IMG_8Ytl9WQWB1LRCf41syU23w5XHXGc2vaQQfSVm8MK06WXT4hga9X2UEvLtIpO_hd.jpg)">
    <div class="banner-container">
<!--       <h2>The Algarve Property Company</h2> -->
    <!--   <p>Contact Us</p> -->
    </div>
  </div>
<div class="col-xs-12 col-sm-8 col-md-offset-4 col-lg-5 mx-auto mt-4 mb-4">
  <div class="text-center">
    <h2>Contact Us</h2>
    <p>Fill in the details below and we'll find you your perfect property</p>
  </div>
  <%= simple_form_for @customer, url: customers_path, method: :post do |f| %>
  <%= f.error_notification %>
  <%= f.input :first_name,
  required: true %>
  <%= f.input :last_name %>
  <%= f.input :email,
   input_html: { autocomplete: 'email' } %>
  <%= f.input :budget,
   collection: ["€200,000 - €299,999", "€300,000 - €399,999", "€400,000 - €499,999", "€500,000 - €649,999", "€650,000 - €799,999", "€800,000 - €1,000,000", "€1,000,000 +"] %>
  <%= f.input :comments, :as => :text, :input_html => { 'rows' => 10, 'cols' => 10 }, optional: true,
    hint: 'Optional: provide more information such as number of bedrooms, location, size etc.' %>
  <%= f.button :submit, "Submit", class: "btn-outline-dark mt-1" %>
  <% end %>
</div>
