<div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1512917774080-9991f1c4c750?ixlib=rb-1.2.1&auto=format&fit=crop&w=3300&q=80);">
  <div class="home-banner-container">
    <h1>The Algarve Property</h1>
    <h1>Company</h1>
    <p class="mt-2">Sourcing properties for your needs</p>
  </div>
</div>
<%= render 'parallax' %>
<%= render 'services' %>

<!-- <div class="modal">
  <div class="modal-content">
    <span class="close-button">&times;</span>
    <h1>Successfully sent!</h1>
  </div>
</div> -->

<div class="col-md-10 col-lg-8 col-xl-5 col-md-offset-4 mx-auto">
  <%= simple_form_for @customer, html: { novalidate: true }, url: customers_path, method: :post do |f| %>
  <%= f.error_notification %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email, input_html: { autocomplete: 'email' } %>
  <%= f.input :budget, collection: ["€200,000 - €299,999", "€300,000 - €399,999", "€400,000 - €499,999", "€500,000 - €649,999", "€650,000 - €799,999", "€800,000 - €1,000,000", "€1,000,000 +"] %>
  <%= f.input :comments, :as => :text, :input_html => { 'rows' => 10, 'cols' => 10 } %>
  <%= f.button :submit, "Submit", class: "btn-primary trigger mt-1" %>
  <% end %>
</div>





