<%= render 'shared/navbar' %>
  <div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1512917774080-9991f1c4c750?ixlib=rb-1.2.1&auto=format&fit=crop&w=3300&q=80);">
    <div class="home-banner-container">
      <h1>The Algarve Property</h1>
      <h1>Company</h1>
      <p class="mt-2">We source Portuguese properties - for no extra fees</p>
      <p class="mt-2">Contact us now for a <strong>free consultation</strong></p>
      <%= render 'shared/enquire-button' %>
    </div>
  </div>
<%= render 'parallax' %>
<%= render 'services' %>
<%= render 'shared/contact' %>

<!-- Button trigger modal (_contact) -->
<%= render 'shared/enquire-button' %>

<%= render 'shared/footer' %>





